body{
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.125rem 1.75rem;
}

header img {
    position: absolute;
    left: 1.25rem;
    top: 35%;
    width: 2.375rem;
    height: 2.375rem;
    transform: rotate(180deg);
}

header h1 {
    transform: translateX(5%);
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 1.75rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.625rem;
    padding: 1rem;
    width: 45%;
    background-color: #D5D5D5;
}

.user{
    position: relative;
    left: 45%;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.625rem;
    padding: 1rem;
    width: 45%;
    background-color: #D5D5D5;
}

.digitacao{
    position: fixed;
    display: flex;
    bottom: 2%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.envio {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0 1.25rem;
    margin-right: 1.75rem;
}

input {
    height: 2.5rem;
    width: 100%;
    border: 0.1rem solid #D5D5D5;
    border-radius: 0.625rem;
    padding: 0 1.25rem;
}