html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3.125rem 0 2.8125rem 0;
    position: relative;
}

header a {
    margin-left: 1.25rem;
    font-size: 0;
}

header img[alt="Voltar"] {
    width: 2.375rem;
    height: 2.375rem;
    transform: rotate(180deg);
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
}

main {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.nota {
    height: 80%;
    width: 80%;
    border: 0.1875rem solid var(--negativo);
    border-radius: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.digitado {
    height: 100%;
    width: 81%;
    margin: 1.5rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 400;
}

.classificador {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.pos {
    border: 0.1875rem solid var(--positivo);
    border-radius: 0.9375rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    font-weight: 400;
    margin: 1rem;
    color: black;
    text-align: center;
}

.neg {
    border: 0.1875rem solid var(--negativo);
    border-radius: 0.9375rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    font-weight: 400;
    margin: 1rem;
    color: black;
    text-align: center;
}

.salvar {
    border: 0.1875rem solid black;
    border-radius: 0.9375rem;
    font-size: 1rem;
    padding: 1rem 1.44rem;
    font-weight: 700;
    margin: 2.25rem;
    color: black;
}