html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3.125rem 0 2.8125rem 0;
    position: relative;
}

header a {
    margin-left: 1.25rem;
    font-size: 0;
}

header img {
    width: 2.375rem;
    height: 2.375rem;
    transform: rotate(180deg);
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1875rem solid black;
    border-radius: 1.5625rem;
}

nav img[alt="semana anterior"] {
    transform: rotate(180deg);
}

nav a {
    text-decoration: none;
}

.mes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mes h2 {
    font-weight: bold;
    font-size: 1.25rem;
}

.semana {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.875rem 1.625rem;
}

.dia {
    margin: 0 0.15625rem;
    border: 0.1875rem solid black;
    border-radius: 0.625rem;
    padding: 1.25rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dom {
    padding: 1.25rem 0.375rem;
}

.qua {
    background: black;
    color: white;
    font-weight: bold;
    padding: 1.25rem 0.375rem;
}

.qui, .sex, .sab {
    opacity: 55%;
}

.dia h3 {
    font-size: 1rem;
}

.dia h4 {
    font-size: 0.625rem;
}

main {
    display: flex;
    flex-direction: column;
}

.posneg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.8125rem;
}

section h2 {
    font-size: 1.25rem;
    font-weight: bold;
}

main p {
    font-size: 0.875rem;
    align-self: center;
    position: relative;
    top: 7%;
}

main a {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a.qua:visited {
    color: white;
}

.circulo {
    background: black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.mais {
    font-size: 2.5rem;
    color: white;
    position: absolute;
    bottom: 0.5rem;
    left: 1.25rem;
    line-height: normal;
}