body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}

header div {
    display: flex;
    align-items: center;
}

header a {
    font-size: 0;
}

header img[alt="Voltar"] {
    max-width: 1.5rem;
}

header img[alt="Excluir"] {
    max-width: 1.5rem;
}

header h1 {
    font-size: 1.25rem;
    margin-left: 1rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-grow: 1;
}

.nota {
    background: var(--positivo);
    height: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 1rem;
}