html {
    height: 100%;
    background-image: url("../img/novo_fundo4.jpg");
    background-size: cover;
    background-position: center;
}

body {
    backdrop-filter: blur(2rem);
}

header {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: white;
}

header a {
    font-size: 0;
}

header img {
    max-width: 1.5rem;
}

header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 1rem;
}

figure {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 1.5rem 1.5rem 1.5rem;
    justify-content: space-around;
}

figure img {
    border: 0.15rem solid transparent;
    border-radius: 4%;
    max-width: 9.25rem;
    max-height: 12.375rem;
    min-height: 12.375rem;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
}

figure img.selected {
    border: 0.15rem solid white;
}