header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: white;
}

header a {
    font-size: 0;
}

header img {
    max-width: 1.5rem;
}

header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 1.75rem 4rem;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 6rem;

}

p {
    max-width: 65%;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
    padding: 1rem;
    background-color: #d5d5d5;
    font-family: 'Roboto Slab', serif;
    overflow-wrap: break-word;
    color: black;
}

.user {
    background-color: var(--principal);
    align-self: flex-end;
    color: white;
}

.digitacao {
    padding: 0.25rem 1rem 0.75rem 1.5rem;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.envio {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0 1.25rem;
    margin-right: 1.75rem;
}

input {
    height: 2.5rem;
    width: 100%;
    border: var(--bordas);
    border-radius: 0.625rem;
    padding: 0 1.25rem;
}