html, body {
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

header div {
    display: flex;
    align-items: center;
}

header a {
    font-size: 0;
}

header img {
    max-width: 1.5rem;
}

header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 1rem;
}

main .descricao {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

main .descricao h1 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

main .descricao p {
    font-size: 0.875rem;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
}

main .cards-container {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    gap: 1rem;
}

section {
    min-width: 16rem;
    min-height: 18rem;
    display: flex;
    flex-direction: column-reverse;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    color: white;
    filter: blur(0.125rem);
    transition: min-height 0.5s ease-in-out;
}

section.active {
    width: 100%;
    max-width: 16rem;
    min-height: 22rem;
    filter: blur(0);
    transition: min-height 0.5s ease-in-out;
}

section.quadrada {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

section.diafragmatica {
    background: rgb(118, 201, 251);
    background: linear-gradient(45deg, rgba(118, 201, 251, 1) 0%, rgba(255, 175, 175, 1) 92%);
}

section.curativa {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

section a {
    color: white;
    text-decoration: none;
}

section .infos {
    min-height: 6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
}

section .infos>p {
    font-size: 0.75rem;
    text-align: justify;
}

section img {
    max-width: 1.25rem;
}

section h2 {
    font-size: 1rem;
    font-weight: bold;
}

section .tempo {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
}

section .tempo img {
    max-width: 1rem;
    margin-left: 0.5rem;
}

section .bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}