main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main img {
    width: 100%;
}

main a img {
    width: 100%;
    max-width: 4rem;
}