header {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    background-color: white;
}

header a {
    font-size: 0;
}

header img {
    max-width: 1.5rem;
}

header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 1rem;
}

main {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

main a {
    height: 11.625rem;
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 100%;
    border: 3px solid black;
}