body {
    height: 100vh;
    background-color: rgb(118, 201, 251);
    background: linear-gradient(45deg, rgba(118, 201, 251, 1) 0%, rgba(255, 175, 175, 1) 92%);
}

header {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

header a {
    font-size: 0;
}

header img {
    max-width: 1.5rem;
}

main {
    max-width: 16rem;
    margin: 0 auto;
    text-align: center;
}

main h1 {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

main p {
    font-size: 0.75rem;
    margin-top: 1rem;
    color: white;
}

section.player {
    width: 70%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 0.75rem;
}

section.player .progress-bar {
    width: 100%;
    height: 0.25rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    position: absolute
}

section.player .progress-bar .circle {
    width: 0.5rem;
    height: 0.5rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -0.125rem;
    left: -0.13rem;
}

section.player .progress-bar .progress {
    width: 0%;
    height: 100%;
    background: white;
    border-radius: 0.25rem;
    position: relative;
}

section.player .progress-bar .tempo-percorrido {
    position: absolute;
    top: 0.5rem;
    left: -1rem;
}

section.player .progress-bar .tempo-total {
    position: absolute;
    top: 0.5rem;
    right: -1rem;
}

section.player img {
    max-width: 2rem;
    margin-top: 2rem;
}